<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>InstaPIC</title>
</head>

<section id="profile">
    <div>
        <img [src]="profilePhoto || '/assets/new_user.jpg'" alt="">
        <span id="userName">{{user().email}}</span>
    </div>
    <div>
        <span>{{followers}}</span>
        <span>Seguidores</span>
    </div>
    <div>
        <span>
            {{galleryItems().length}}
        </span>
        <span>Publicaciones</span>
    </div>
    <div>
        <span>{{requests}}</span>
        <span>Solicitudes</span>
    </div>
</section>

<section id="gallery">

    <div class="no-posts" *ngIf="galleryItems().length === 0" class="no-posts">
        <img src="/assets/no-posts.jpg" alt="">
        <p>Aún no tienes publicaciones</p>
    </div>

    <div class="gallery-item" *ngFor="let item of galleryItems()">
      <img [src]="item.url" />
      <div class="comments">
        <input type="text" (change)="onAddComment($event, item.id)"/>
        <a (click)="onViewComments(item.comments)"><i class="fas fa-comments"></i></a>
        <a (click)="onDelete(item.id)"><i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
  </section>
